#IntelliJ
/shelf/
/workspace.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/
.iml
#build and #IntelliJ
Dyskoles/target/
Dyskoles/.idea/**/workspace.xml
Dyskoles/**/tasks.xml
Dyskoles/.idea/**/usage.statistics.xml
Dyskoles/.idea/**/dictionaries
Dyskoles/.idea/**/shelf
out/
.project
my-app.iml

